
.rate{
    color: #aaaaaa;
    font-size: 10px;
    padding-left: 0.5rem;
}
.rate1{
    color: #aaaaaa;
    font-size: 12px;
    padding-top: 5px;
}
.title{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 5px;
}
